*{
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: FUENTE1;
    font-style: normal;
    src: url(media/LeagueGothic-Regular.otf)
}

@font-face{
    font-family: FUENTE2;
    font-style: normal;
    src: url(media/RobotoCondensed-Light.ttf);
}

#VIDEOHOME{
    z-index: -1;
}

.menu{
    font-size: 30px; 
    font-family: FUENTE1;
}

.menu a:hover{
    border-bottom:3px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: #ffec38; 
}

ul img{
    width: 65px; 
    height: 65px;
    margin-top: -10px;
}

#section_inicio{
    font-size: 126px; 
    font-family: FUENTE1; 
    color: black; 
}

.linea1 {
    padding-right: 450px;
    height: 20px;
    color: #ffec38;
    font-size: 160px;
}

.linea2 {
    padding-right: 290px;
    height: 20px;
    color: #ffec38;
    font-size: 160px;
}

.linea3 {
    padding-right: 165px;
    height: 20px;
    color: #ffec38;
    font-size: 160px;
}

footer{
    background-color: #ffec38;
}

.footer_titulos_menu{
    color: black;
    font-family: FUENTE1; 
    font-size: 30px;
}

.footer_cont_menu{
    color: black; 
    font-family: FUENTE2; 
    text-align: justify;   
}

.FORMULARIO{
    font-family: FUENTE1; 
    font-size: 28px; 
    color: black; 
}

.FORMULARIO_CAMPO{
    font-family: FUENTE2; 
    height: auto;
    font-size: 25px; 
    border-color: black;
    background-color: transparent;
    border-style: none;
    width: auto;
}

.BOTON{
    font-size: FUENTE1;
    font-size: 15px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 5px;
    background-color: transparent;
    font-weight: bold;
}

.titulos{
    font-family: FUENTE1; 
    color: black; 
    font-size: 110px; 
    padding-left: 60px;
}

.subtitulos{
    font-family: FUENTE2; 
    color: #a6a6a6; 
    font-size: 35px; 
    padding-left: 100px;   
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
}

.contenido{
    font-family: FUENTE2; 
    color: black; 
    font-size: 25px; 
    padding-left: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 50px;
    text-align: justify;
}

.BOTONCOMPRA{
    margin-left: 160px;
    
}

.BOTONCOMPRA :hover{
    background-color: #ffec38;
    border-style: none;
}

#carrito{
    font-size: 126px; 
    font-family: FUENTE1; 
    color: black; 
}

#carrito2{
    font-size: 70px; 
    font-family: FUENTE1; 
    color: black; 
}